@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: black;
    color: goldenrod;
    font-family: 'Press Start 2P', cursive;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
}

#icon {
    font-size: 2rem;
    padding: 0 1rem;
}

.mobile-name {
  display: none;
}

ul {
    /*border: 1px steelblue solid;*/
}

li {
 margin: 0.5rem 1.5rem;

}

UL#nav > li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 1rem auto;
}

a.nav {
    padding: 0.5rem;
    text-decoration: none;
    color: goldenrod;
    border: solid 2px goldenrod;
  }
  
  a.active {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    background-color: goldenrod !important;
    border: solid 2px goldenrod;
  }
  
  a.nav:hover {
    background-color: goldenrod;
    color: black;
    opacity:100%;
    transition: 0.5s;
  }

a {
  color: goldenrod;
  text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
}

  #outter {
      border: 1px goldenrod solid;
      margin: 0.5rem;
      max-width: 80%;
  }

  #inner {
    border: 1px goldenrod solid;
    margin: 0.5rem;
    padding: 1REM;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

  #screen {
    border: 1px goldenrod solid;
    border-radius: 12REM;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
  }
  
  #photo {
      text-align: center;
      max-width: 12rem;
      margin: 1REM;
      grid-row: 1  ;
      grid-column: 2 / 3;
      z-index: 1;
      position: relative;

  }

  #photo img {
    text-align: center;
    max-width: 12rem;
    border: 2px goldenrod solid;
    border-radius: 6REM;
    z-index: 1;
    position: relative;

}

  #name {
    padding: 1REM;
    border-radius: 5REM;
    border: 2px goldenrod solid;
    margin: 1REM;
    grid-row: 1  ;
    grid-column: 3 / 8;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #bio {
    padding: 1REM;
    border-radius: 5REM;
    border: 2px goldenrod solid;
    margin: 1REM;
    line-height: 1.25rem;
    grid-row: 2 ;
    grid-column: 2 / 8;

  }

  .gridline{
      border: 1px goldenrod solid;
      min-width: 5REM;
      min-height: 5REM;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;;
    border: 1px goldenrod solid;
  }
  #contact p {
    align-self: center;
  }

  h2, h3 {
    align-self: center;
  }
/*
  @media screen and (max-width: 850px) {
    body {
      font-size: 0.75rem;
    }
  }
*/
@media screen and (max-width: 800px) {
  body {
    font-size: 0.75rem;
  }

  header {
    flex-direction: column;
  }
  #icon {
    font-size: 4rem;
    padding: 0 1rem;
}

  .mobile-name {
    display: block;
  }

  UL#nav > li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 1rem auto;
    align-self: center;
}

  #outter {
    border: none;
  }

  #inner {
    border: 1px goldenrod solid;
    margin: 0.5rem;
    padding: 1REM;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #screen {
    border: none;
    border-radius: 12REM;
    margin: 2rem auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  #photo {
    align-self: center;
    max-width: 12rem;
    margin: 1REM;
  }

  #photo img {
  text-align: center;
  margin: auto;
  max-width: 12rem;
  border: 2px goldenrod solid;
  border-radius: 6REM;
  z-index: 1;
  position: relative;

  }

  #name {
  display: none;
  }

  #bio {
  text-align: center;
  padding: 1REM;
  border-radius: 5REM;
  border: none;
  margin: 1REM;
  line-height: 1.25rem;
  }

  #contact {
    border: none;
  }


}